/addrlib.lib
/amdrdf.lib
/cwpack.lib
/ddCommon.lib
/dd_common.lib
/ddCore.lib
/ddEventClient.lib
/ddEventParser.lib
/ddEventServer.lib
/ddEventStreamer.lib
/dd_libyaml.lib
/ddNet.lib
/ddRpcClient.lib
/ddRpcServer.lib
/ddRpcShared.lib
/dd_settings.lib
/ddSocket.lib
/ddYaml.lib
/devdriver.lib
/DriverUtilsService.lib
/metrohash.lib
/mpack.lib
/palCompilerDeps.lib
/pal.lib
/pal_lz4.lib
/palUtil.lib
/pal_uuid.lib
/SettingsRpcService2.lib
/stb_sprintf.lib
/UberTraceService.lib
/vam.lib
/zstd.lib
